<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
<system.serviceModel>
        <services>
            <service name="Driver.Server">
                <endpoint address="" binding="webHttpBinding" contract="Driver.IServer">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
            </service>
        </services>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    </system.serviceModel>
</configuration>